.App {
  text-align: center;
  /* background-color: palegoldenrod; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-primary {
  float: right;
  margin-right: 25px;
}

.page-link {
  color: black;
  font-weight: bold;
}

.page-item disabled {
  color: black;
  font-weight: bold;
}

.fa-eye {
  font-size: 20px;
  color: #007bff;
  padding-top: 8px;
  padding-right: 20px;
}

.fa-pen-to-square {
  font-size: 20px;
  /* position: absolute; */
  padding-top: 8px;
  color: #007bff;
  padding-right: 20px;
}

.fa-trash-can {
  font-size: 20px;
  /* position: absolute; */
  padding-top: 8px;
  color: red;
  padding-right: 0px;
}

.pagination {
  display: inline-table;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: rgb(126, 184, 250);
}

.error {
  color: red;
  box-shadow: none;
  border-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control-lg {
  border-color: red;
  border: black;
}

.img-fluid {
  height: 400px !important;
  display: flex;
  margin-left: 80px;
}
